<div class="container flex items-center gap-2.5 pt-3">
  <a class="text-xs text-[#777777]" href="/" title="home">Home</a>
  <div class="text-custom-black"> {% render 'arrow-ico-breadcrumb' %} </div>
  <p class="text-xs text-custom-black font-bold capitalize">{{ collection_name }}</p>
</div>