<script src="{{ 'Wishlist.js' | asset_url }}" defer></script>

<section id="wishlist-sec">
  <div class="container py-24">
    <h1 class="text-3xl mb-4 font-black text-custom-black">Minha Lista de Desejos</h1>
    <p class="empty hidden">Infelizmente nenhum produto foi adicionado :(</p>
    <ul class="wrapper-wishlist flex flex-wrap gap-4"></ul>
  </div>
</section>